.grid-container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.grid-cell {
    border: 1px solid #000000;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    position: relative;
}

.draggable-button {
    cursor: grab;
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    /* Make the button take the full height of the cell */
}

.draggable-button:active {
    cursor: grabbing;
}